@import 'tailwindcss';

@plugin "@iconify/tailwind4";

@theme {
  --color-background: oklch(0.98 0.004 286.33);
  --color-success: oklch(0.78 0.1527 164.84);
  --color-success-light: oklch(0.97 0.044 163.889);
  --color-warning: oklch(0.76 0.177697 59.6859);
  --color-warning-light: oklch(0.966 0.049 93.383);
  --color-error: oklch(0.65 0.1845 23.71);
  --color-error-light: oklch(0.78 0.1252 20.28);
  --color-black: oklch(0.17 0.0172 273.52);
  --color-dark: oklch(0.21 0.03 277.59);
  --color-purple-100: oklch(0.92 0.0315 277.91);
  --color-purple-200: oklch(0.64 0.0892 276.2);
  --color-purple-300: oklch(0.66 0.1941 289.1);
  --color-purple-400: lch(49.65 87.07 299.48);
  --color-neutral-50: oklch(0.98 0.004 286.33);
  --color-neutral-200: oklch(0.65 0.0511 277.06);
  --color-neutral-300: oklch(0.29 0.0513 276.54);
  --color-neutral-400: oklch(0.26 0.0453 277.29)
}

* {
  font-family: "League Spartan", sans-serif;
  font-optical-sizing: auto;
}

::-webkit-scrollbar {
  display: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
